In [1]:
import json
import mysql.connector

In [2]:
db_info={
    "db_name":"gmaps",
    "host":"localhost",
    "user":"root",
    "passwd":"1234"
}

In [7]:
def create_database(host=None, user=None, passwd=None, db_name=None):
    sql_create_database = 'CREATE DATABASE IF NOT EXISTS `{db_name}` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci'
    db = mysql.connector.connect(
      host=host,
      user=user,
      passwd=passwd
    )
    cursor = db.cursor()
    cursor.execute(sql_create_database.format(db_name=db_name))
    cursor.close()
    db.close()

In [10]:
def create_schema(host=None, user=None, passwd=None, db_name=None):
    db = mysql.connector.connect(
      host=host,
      user=user,
      passwd=passwd,
      database=db_name
    )
    cursor = db.cursor()
    sql_main_table = """
        CREATE TABLE IF NOT EXISTS commercial_premise (
            id INT NOT NULL AUTO_INCREMENT,
            name VARCHAR(100) NOT NULL UNIQUE,
            zip_code INT(5) NOT NULL,
            coordinates VARCHAR(600),
            telephone_number VARCHAR(25),
            opening_hours VARCHAR(600),
            type VARCHAR(300),
            score FLOAT DEFAULT 0.0,
            total_scores INT(10) DEFAULT 0,
            price_range VARCHAR(5),
            style VARCHAR(300),
            address VARCHAR(300),
            date DATE NOT NULL,
            PRIMARY KEY(ID)
        )
    """

    sql_comments = """
        CREATE TABLE IF NOT EXISTS commercial_premise_comments (
            id INT NOT NULL AUTO_INCREMENT,
            commercial_premise_id INT NOT NULL,
            content TEXT,
            PRIMARY KEY(id),
            INDEX prem_ind (commercial_premise_id),
            date DATE NOT NULL,
            FOREIGN KEY (commercial_premise_id)
                REFERENCES commercial_premise(id)
                ON DELETE CASCADE
                ON UPDATE CASCADE
        )
    """

    sql_ocupation = """
        CREATE TABLE IF NOT EXISTS commercial_premise_occupation (
            id INT NOT NULL AUTO_INCREMENT,
            commercial_premise_id INT NOT NULL,
            week_day VARCHAR (50),
            time_period VARCHAR (50),
            occupation FLOAT DEFAULT 0.0,
            date DATE NOT NULL,
            PRIMARY KEY(id),
            INDEX prem_ind (commercial_premise_id),
            FOREIGN KEY (commercial_premise_id)
                REFERENCES commercial_premise(id)
                ON DELETE CASCADE
                ON UPDATE CASCADE
        )
    """

    sql_zip_codes_info = """
        CREATE TABLE IF NOT EXISTS zip_code_info (
            id INT NOT NULL AUTO_INCREMENT,
            zip_code INT(5) NOT NULL,
            gmaps_url VARCHAR(600) NOT NULL,
            gmaps_coordinates VARCHAR(100) NOT NULL,
            PRIMARY KEY(id)
        )
    """
    try:
        cursor.execute("DROP TABLE commercial_premise_occupation")
        cursor.execute("DROP TABLE commercial_premise_comments")
        cursor.execute("DROP TABLE commercial_premise")
    except mysql.connector.errors.ProgrammingError:
        pass

    cursor.execute(sql_main_table)
    cursor.execute(sql_comments)
    cursor.execute(sql_ocupation)
    cursor.execute(sql_zip_codes_info)
    cursor.close()
    db.close()

In [8]:
create_database(**db_info)

In [11]:
create_schema(**db_info)